# Combining DataFrames

In this notebook, we will be working with multiple data sources.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### A. Concatenation

Concatenation is simply appending one dataframe to another, either via rows or via columns. Think copy-pasting in Excel.

In [2]:
df1 = pd.DataFrame(np.arange(9).reshape((3, 3)), 
                   columns=['a', 'b', 'c'],
                   index=['one', 'two', 'three'])
df2 = pd.DataFrame(np.arange(6).reshape((3, 2)), 
                   columns=['d','e'],
                   index=['three', 'two','one'])
display(df1)
display(df2)

       a  b  c
one    0  1  2
two    3  4  5
three  6  7  8

       d  e
three  0  1
two    2  3
one    4  5

- Since the two data frames have the same number of rows, it is natural to combine them "horizontally".  
- Note the concatenation takes place on the name of the index and not the order.

In [6]:
pd.concat([df1, df2], axis = 1, sort=False)

       a  b  c  d  e
one    0  1  2  4  5
two    3  4  5  2  3
three  6  7  8  0  1

- The argument "axis = 1" means expanding along the column indices. Setting "axis = 0" will combine two data frames with same number of columns vertically.

In [4]:
pd.concat([df1, df2], axis = 0, sort=False)

         a    b    c    d    e
one    0.0  1.0  2.0  NaN  NaN
two    3.0  4.0  5.0  NaN  NaN
three  6.0  7.0  8.0  NaN  NaN
three  NaN  NaN  NaN  0.0  1.0
two    NaN  NaN  NaN  2.0  3.0
one    NaN  NaN  NaN  4.0  5.0

### Try it!

We have here data from primary and secondary schools. We want to combine these data into one dataframe. Since the headers for both dataframes are the same, we can use concat.

In [8]:
# Reading dataframe1
primary = pd.read_csv("depend_publicelementary2015.csv", encoding="latin-1")
primary.head()

,region,province,municipality,division,school_id,school_name,year_level,gender,enrollment,latitude,longitude
0,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100001,Apaleng-libtong ES,grade 1,male,9,18.253666,120.60618
1,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100002,Bacarra CES,grade 1,male,41,18.25096389,120.6089583
2,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100003,Buyon ES,grade 1,male,7,18.234599,120.616037
3,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100004,Ganagan Elementary School,grade 1,male,8,18.25001389,120.5871694
4,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,100005,Macupit ES,grade 1,male,5,18.29399444,120.6410194

In [9]:
# Reading dataframe
secondary = pd.read_csv("deped_publicsecondary2015.csv", encoding="latin-1")
secondary.head()

,school_id,school_name,region,province,municipality,division,year_level,gender,enrollment,latitude,longitude
0,300001,Adams National High School,Region I - Ilocos Region,Ilocos Norte,Adams,Ilocos Norte,first year,male,24,18.45859,120.9057909
1,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,first year,male,299,18.24977222,120.61305
2,300003,Bangui NHS,Region I - Ilocos Region,Ilocos Norte,Bangui,Ilocos Norte,first year,male,89,18.5356735,120.769735
3,300004,Banna National High School,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,first year,male,50,17.98035278,120.6581583
4,300005,Batac National High School,Region I - Ilocos Region,Ilocos Norte,City Of Batac,Batac City,first year,male,66,18.11075,120.5718778

In [13]:
# Combine primary and secondary schools

#df_all_schools = 
df_all_schools = pd.concat([secondary,primary], sort=False)

df_all_schools

,school_id,school_name,region,province,municipality,division,year_level,gender,enrollment,latitude,longitude
0,300001,Adams National High School,Region I - Ilocos Region,Ilocos Norte,Adams,Ilocos Norte,first year,male,24,18.45859,120.9057909
1,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,first year,male,299,18.24977222,120.61305
2,300003,Bangui NHS,Region I - Ilocos Region,Ilocos Norte,Bangui,Ilocos Norte,first year,male,89,18.5356735,120.769735
3,300004,Banna National High School,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,first year,male,50,17.98035278,120.6581583
4,300005,Batac National High School,Region I - Ilocos Region,Ilocos Norte,City Of Batac,Batac City,first year,male,66,18.11075,120.5718778
5,300006,Burgos Agro-Industrial School,Region I - Ilocos Region,Ilocos Norte,Burgos,Ilocos Norte,first year,male,73,18.512416,120.636824
6,300007,Cadaratan National High School,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,first year,male,38,18.29330278,120.5983722
7,300008,Caestebanan NHS,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,first year,male,35,17.974081,120.706401
8,300009,Carasi NHS,Region I - Ilocos Region,Ilocos Norte,Carasi,Ilocos Norte,first year,male,20,18.139395,120.820784
9,300010,Caribquib NHS,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,first year,male,24,18.00158611,120.6685639
10,300011,Catagtaguen NHS,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,first year,male,41,17.96351111,120.6598333
11,300012,Crispina Marcos Valdez NHS,Region I - Ilocos Region,Ilocos Norte,City Of Batac,Batac City,first year,male,30,18.04587778,120.5940389
12,300013,Currimao NHS,Region I - Ilocos Region,Ilocos Norte,Currimao,Ilocos Norte,first year,male,30,17.991568,120.503569
13,300014,Davila National High School,Region I - Ilocos Region,Ilocos Norte,Pasuquin,Ilocos Norte,first year,male,58,18.4794832,120.5752348
14,300015,Dingras NHS/Lt. Edgar Foz Mem. NHS,Region I - Ilocos Region,Ilocos Norte,Dingras,Ilocos Norte,first year,male,111,18.13236111,120.6830444
15,300016,Piddig National High School,Region I - Ilocos Region,Ilocos Norte,Piddig,Ilocos Norte,first year,male,89,18.15444167,120.6956528
16,300017,Dumalneg NHS,Region I - Ilocos Region,Ilocos Norte,Dumalneg,Ilocos Norte,first year,male,24,18.51251944,120.7353944
17,300018,Ilocos Norte Agricultural College,Region I - Ilocos Region,Ilocos Norte,Pasuquin,Ilocos Norte,first year,male,152,18.324869,120.619652
18,300019,Luzong NHS,Region I - Ilocos Region,Ilocos Norte,Pagudpud,Ilocos Norte,first year,male,85,18.56771111,120.8113889
19,300020,Marcos NHS,Region I - Ilocos Region,Ilocos Norte,Marcos,Ilocos Norte,first year,male,115,18.042491,120.675968
20,300021,Nagrebcan NHS,Region I - Ilocos Region,Ilocos Norte,Badoc,Ilocos Norte,first year,male,31,17.90859722,120.5240472
21,300022,NUEVA ERA NATIONAL HIGH SCHOOL,Region I - Ilocos Region,Ilocos Norte,Nueva Era,Ilocos Norte,first year,male,51,17.91353333,120.6661833
22,300023,Pagsanahan NHS,Region I - Ilocos Region,Ilocos Norte,Badoc,Ilocos Norte,first year,male,51,17.91783,120.441652
23,300024,Pagudpud NHS,Region I - Ilocos Region,Ilocos Norte,Pagudpud,Ilocos Norte,first year,male,81,18.564467,120.787535
24,300025,Paoay Lake NHS,Region I - Ilocos Region,Ilocos Norte,Paoay,Ilocos Norte,first year,male,56,18.061863,120.520978
25,300026,Pasaleng National High School,Region I - Ilocos Region,Ilocos Norte,Pagudpud,Ilocos Norte,first year,male,47,18.55094167,120.9482889
26,300027,Pinili NHS,Region I - Ilocos Region,Ilocos Norte,Pinili,Ilocos Norte,first year,male,112,17.95133889,120.4925944
27,300028,San Nicolas NHS,Region I - Ilocos Region,Ilocos Norte,San Nicolas,Ilocos Norte,first year,male,209,18.17032778,120.6108194
28,300029,Sarrat National High School,Region I - Ilocos Region,Ilocos Norte,Sarrat,Ilocos Norte,first year,male,156,18.1604045,120.6492366
29,300030,"Solsona National High School, Maananteng Campus",Region I - Ilocos Region,Ilocos Norte,Solsona,Ilocos Norte,first year,male,113,18.098071,120.811515
...,...,...,...,...,...,...,...,...,...,...,...
396258,133524,Pagalongan Community CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,37,7.683445,124.683614
396259,133525,Pilintangan PS,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,0,-,-
396260,133526,Wao Central Comm. School,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,66,7.641438,124.723656
396261,133527,Western Wao Pilot ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,136,7.683328,124.68396
396262,133528,Balatin PS,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,0,-,-
396263,133529,Buntongan ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,15,-,-
396264,133530,Kilikili CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,48,7.742867,124.724007
396265,133531,Mimbuaya PS,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,0,-,-
396266,133532,North Park Area ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,5,7.689833,124.725388
396267,133533,Pagayon ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,0,-,-
396268,133534,Panang ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,16,-,-
396269,133535,Pulacan (Campo Ii) ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,9,-,-
396270,133536,Serran ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,13,-,-
396271,133537,South Park Area ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Wao,Lanao del Sur - I,grade 6,female,10,-,-
396272,133539,Comara ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bumbaran,Lanao del Sur - I,grade 6,female,31,-,-
396273,133540,Francfort CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bumbaran,Lanao del Sur - I,grade 6,female,86,7.745416667,124.6635278
396274,133541,Natangcopan PS,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bumbaran,Lanao del Sur - I,grade 6,female,0,-,-
396275,133542,Punud ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bumbaran,Lanao del Sur - I,grade 6,female,25,7.7455,124.6635
396276,133543,Salam PS,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bumbaran,Lanao del Sur - I,grade 6,female,0,-,-
396277,133544,Sumugot ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bumbaran,Lanao del Sur - I,grade 6,female,28,-,-
396278,133545,Barua ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,grade 6,female,43,-,-
396279,133546,Cabombongan ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,grade 6,female,32,-,-
396280,133547,Gasan Primary School,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,grade 6,female,0,-,-
396281,133549,Kalawi CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,grade 6,female,81,8.100583333,124.24025
396282,133552,Talob PS,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,grade 6,female,0,-,-
396283,133553,Tambo PS,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,grade 6,female,0,-,-
396284,133554,Tuka PS,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,grade 6,female,0,-,-
396285,133555,Tulain PS,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,grade 6,female,0,-,-
396286,133556,Ulodan ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,grade 6,female,52,-,-
396287,133557,Awani Elementary School,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Bacolod-Kalawi (Bacolod Grande),Lanao del Sur - II,grade 6,female,40,-,-

### B. Merge
Merging is the most common way to combine multiple data frames and has more flexibility than concat.

In [16]:
df3 = pd.DataFrame([['a','b','c'],['d','e','f'],['g','h','i']]\
                   ,columns=['col1','col2','col3'])
df4 = pd.DataFrame({'col2':['x','e','b','z'],'col4':[1,2,3,4],'col5':['i','f','e','h']})
display(df3)
display(df4)

  col1 col2 col3
0    a    b    c
1    d    e    f
2    g    h    i

  col2  col4 col5
0    x     1    i
1    e     2    f
2    b     3    e
3    z     4    h

- Merging will use the **`on`** column as a key for the merge.  The code below identifies the column ‘col2’ from both data frames. 
- The argument **`how`** set to 'inner' makes the merge only keep rows occuring in both data frames.

In [17]:
pd.merge(df3, df4, how='inner', on ='col2')

  col1 col2 col3  col4 col5
0    a    b    c     3    e
1    d    e    f     2    f

- The default value of the parameter `how` is 'inner'. The following code performs the same task as above.

In [18]:
pd.merge(df3, df4, on ='col2')

  col1 col2 col3  col4 col5
0    a    b    c     3    e
1    d    e    f     2    f

- To keep every row in df1 then set the parameter `how` = 'left'.

In [19]:
pd.merge(df3, df4, how='left', on ='col2')

  col1 col2 col3  col4 col5
0    a    b    c   3.0    e
1    d    e    f   2.0    f
2    g    h    i   NaN  NaN

- To keep all rows from both df1 and df2, set the parameter `how` = 'outer'.

In [20]:
pd.merge(df3, df4, how='outer', on ='col2')

  col1 col2 col3  col4 col5
0    a    b    c   3.0    e
1    d    e    f   2.0    f
2    g    h    i   NaN  NaN
3  NaN    x  NaN   1.0    i
4  NaN    z  NaN   4.0    h

- If the `on` column does not have the same name in the two data frames, use 'left_on' and 'right_on' to indicate how to perform the merge.  
- Note that columns with the same name, in the two data frames, will be named with an x or y character appended.

In [21]:
pd.merge(df3, df4, left_on='col2', right_on='col5')

  col1 col2_x col3 col2_y  col4 col5
0    d      e    f      b     3    e
1    g      h    i      z     4    h

### Try it!

Let's try adding variables from `schools.csv` that are not present in the df_all_schools data we prepared.

In [22]:
# Add data from a different dataset
additional_data = pd.read_csv("schools.csv")
additional_data.head()

,Unnamed: 0,OBJECTID,Region,Division,ID,School,Municipali,Legislativ,Total_Enro,Total_Inst,Color_Code,Barangay,Province,District,Type_of_Sc,Rooms_used,Rooms_unused
0,0,1,NCR,Quezon City,319506,National Orthopedic Hospital School for Crippl...,QUEZON CITY,1st,85,8,Blue,NaN,NCR SECOND DISTRICT,School District I,School with no Annexes,6.0,0.0
1,1,2,NCR,Pasay City,319602,Philippine National School for the Blind,PASAY CITY,Lone,27,9,Blue,NaN,NCR FOURTH DISTRICT,Pasay City West District,School with no Annexes,5.0,0.0
2,2,3,NCR,Pasay City,319603,Philippine School for the Deaf,PASAY CITY,Lone,251,84,Blue,NaN,NCR FOURTH DISTRICT,Pasay City West District,School with no Annexes,25.0,0.0
3,3,4,NCR,Pasay City,223002,Philippine School for the Deaf,PASAY CITY,Lone,260,84,Blue,NaN,NCR FOURTH DISTRICT,Pasay City West District,School with no Annexes,38.0,0.0
4,4,5,NCR,Pasay City,223001,Philippine National School for the Blind,PASAY CITY,Lone,46,9,Blue,NaN,NCR FOURTH DISTRICT,Pasay City West District,School with no Annexes,7.0,2.0

Which columns can we add?

In [33]:
data_to_add = additional_data[["ID", "Total_Enro", "Total_Inst", "Rooms_used", "Rooms_unused", "Type_of_Sc"]]

In [32]:
pd.merge(df_all_schools,data_to_add,left_on="school_id",right_on="ID",how="inner")

,school_id,school_name,region,province,municipality,division,year_level,gender,enrollment,latitude,longitude,ID,Total_Enro,Total_Inst,Rooms_used,Rooms_unused,Type_of_Sc
0,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,first year,male,299,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
1,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,first year,female,250,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
2,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,second year,male,246,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
3,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,second year,female,284,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
4,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,third year,male,220,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
5,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,third year,female,254,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
6,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,fourth year,male,214,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
7,300002,Bacarra NCHS,Region I - Ilocos Region,Ilocos Norte,Bacarra,Ilocos Norte,fourth year,female,225,18.24977222,120.61305,300002,1868,55,43.0,0.0,School with no Annexes
8,300003,Bangui NHS,Region I - Ilocos Region,Ilocos Norte,Bangui,Ilocos Norte,first year,male,89,18.5356735,120.769735,300003,571,13,18.0,0.0,Mother school
9,300003,Bangui NHS,Region I - Ilocos Region,Ilocos Norte,Bangui,Ilocos Norte,first year,female,78,18.5356735,120.769735,300003,571,13,18.0,0.0,Mother school
10,300003,Bangui NHS,Region I - Ilocos Region,Ilocos Norte,Bangui,Ilocos Norte,second year,male,85,18.5356735,120.769735,300003,571,13,18.0,0.0,Mother school
11,300003,Bangui NHS,Region I - Ilocos Region,Ilocos Norte,Bangui,Ilocos Norte,second year,female,83,18.5356735,120.769735,300003,571,13,18.0,0.0,Mother school
12,300003,Bangui NHS,Region I - Ilocos Region,Ilocos Norte,Bangui,Ilocos Norte,third year,male,75,18.5356735,120.769735,300003,571,13,18.0,0.0,Mother school
13,300003,Bangui NHS,Region I - Ilocos Region,Ilocos Norte,Bangui,Ilocos Norte,third year,female,87,18.5356735,120.769735,300003,571,13,18.0,0.0,Mother school
14,300003,Bangui NHS,Region I - Ilocos Region,Ilocos Norte,Bangui,Ilocos Norte,fourth year,male,61,18.5356735,120.769735,300003,571,13,18.0,0.0,Mother school
15,300003,Bangui NHS,Region I - Ilocos Region,Ilocos Norte,Bangui,Ilocos Norte,fourth year,female,71,18.5356735,120.769735,300003,571,13,18.0,0.0,Mother school
16,300004,Banna National High School,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,first year,male,50,17.98035278,120.6581583,300004,381,13,11.0,0.0,School with no Annexes
17,300004,Banna National High School,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,first year,female,38,17.98035278,120.6581583,300004,381,13,11.0,0.0,School with no Annexes
18,300004,Banna National High School,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,second year,male,32,17.98035278,120.6581583,300004,381,13,11.0,0.0,School with no Annexes
19,300004,Banna National High School,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,second year,female,43,17.98035278,120.6581583,300004,381,13,11.0,0.0,School with no Annexes
20,300004,Banna National High School,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,third year,male,42,17.98035278,120.6581583,300004,381,13,11.0,0.0,School with no Annexes
21,300004,Banna National High School,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,third year,female,52,17.98035278,120.6581583,300004,381,13,11.0,0.0,School with no Annexes
22,300004,Banna National High School,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,fourth year,male,38,17.98035278,120.6581583,300004,381,13,11.0,0.0,School with no Annexes
23,300004,Banna National High School,Region I - Ilocos Region,Ilocos Norte,Banna (Espiritu),Ilocos Norte,fourth year,female,39,17.98035278,120.6581583,300004,381,13,11.0,0.0,School with no Annexes
24,300005,Batac National High School,Region I - Ilocos Region,Ilocos Norte,City Of Batac,Batac City,first year,male,66,18.11075,120.5718778,300005,465,19,13.0,1.0,Mother school
25,300005,Batac National High School,Region I - Ilocos Region,Ilocos Norte,City Of Batac,Batac City,first year,female,59,18.11075,120.5718778,300005,465,19,13.0,1.0,Mother school
26,300005,Batac National High School,Region I - Ilocos Region,Ilocos Norte,City Of Batac,Batac City,second year,male,75,18.11075,120.5718778,300005,465,19,13.0,1.0,Mother school
27,300005,Batac National High School,Region I - Ilocos Region,Ilocos Norte,City Of Batac,Batac City,second year,female,68,18.11075,120.5718778,300005,465,19,13.0,1.0,Mother school
28,300005,Batac National High School,Region I - Ilocos Region,Ilocos Norte,City Of Batac,Batac City,third year,male,57,18.11075,120.5718778,300005,465,19,13.0,1.0,Mother school
29,300005,Batac National High School,Region I - Ilocos Region,Ilocos Norte,City Of Batac,Batac City,third year,female,61,18.11075,120.5718778,300005,465,19,13.0,1.0,Mother school
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159714,133445,Tambo ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Piagapo,Lanao del Sur - I,grade 4,male,25,-,-,133445,652,6,6.0,0.0,School with no Annexes
159715,133445,Tambo ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Piagapo,Lanao del Sur - I,grade 4,female,20,-,-,133445,652,6,6.0,0.0,School with no Annexes
159716,133445,Tambo ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Piagapo,Lanao del Sur - I,grade 5,male,27,-,-,133445,652,6,6.0,0.0,School with no Annexes
159717,133445,Tambo ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Piagapo,Lanao del Sur - I,grade 5,female,33,-,-,133445,652,6,6.0,0.0,School with no Annexes
159718,133445,Tambo ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Piagapo,Lanao del Sur - I,grade 6,male,29,-,-,133445,652,6,6.0,0.0,School with no Annexes
159719,133445,Tambo ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Piagapo,Lanao del Sur - I,grade 6,female,28,-,-,133445,652,6,6.0,0.0,School with no Annexes
159720,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 1,male,77,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159721,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 1,female,91,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159722,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 2,male,78,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159723,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 2,female,89,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159724,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 3,male,84,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159725,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 3,female,93,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159726,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 4,male,67,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159727,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 4,female,79,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159728,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 5,male,69,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159729,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 5,female,71,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159730,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 6,male,59,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159731,133451,Saguiaran CES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 6,female,75,8.032777778,124.2694444,133451,1132,19,20.0,0.0,School with no Annexes
159732,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 1,male,16,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes
159733,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 1,female,22,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes
159734,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 2,male,19,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes
159735,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 2,female,19,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes
159736,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 3,male,21,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes
159737,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 3,female,22,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes
159738,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 4,male,18,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes
159739,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 4,female,24,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes
159740,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 5,male,21,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes
159741,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 5,female,20,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes
159742,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 6,male,15,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes
159743,133470,Pawak ES,ARMM - Autonomous Region in Muslim Mindanao,Lanao Del Sur,Saguiaran,Lanao del Sur - I,grade 6,female,19,8.049722222,124.2658333,133470,259,9,6.0,0.0,School with no Annexes

How should we combine them?

In [ ]:
# Combine select columns from additional_data to the df_all_schools

#df_all =

In [34]:
df_all = pd.merge(df_all_schools,data_to_add,left_on="school_id",right_on="ID",how="inner")

In [35]:
df_all.to_csv("schools_combined.csv")

Let's check the shape of our new dataframe

In [37]:
df_all.shape

(159744, 17)

In [38]:
df_all.isna().sum()

school_id        0
school_name      0
region           0
province         0
municipality     0
division         0
year_level       0
gender           0
enrollment       0
latitude         0
longitude        0
ID               0
Total_Enro       0
Total_Inst       0
Rooms_used      12
Rooms_unused    12
Type_of_Sc       0
dtype: int64

You may have noticed that there are lots of missing values in our new dataframe. One way to avoid missing values is to obtain only the schools that are present in both dataframes. Let's try doing that.

In [ ]:
# Add data but obtain only common primary key
df_all_new = pd.merge(df_all_schools,data_to_add,on="school")
# Check shape

In [ ]:
# Check data frame

### Saving to csv

Now that we have our new clean dataframe, let's save it to a new file.

In [ ]:
#df_inner.to_csv("schools_combined.csv")